@model StoreFront.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "EmailConfirmation";
}

<p Class=" alert alert-success text-center" style="font-size: 1.25em;">Email Has been Sent!</p>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Message)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Message)
            </dd>

        </dl>
    </div>
</div>
<p class="text-left p-5">
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })*@ 
    @Html.ActionLink("Back to Home", "Index",null,( new { @class="btn btn-secondary"}))
</p>
